@font-face {
  font-family: ubuntu-bold;
  src: url("../../assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: ubuntu-medium;
  src: url("../../assets/fonts/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: ubuntu-regular;
  src: url("../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

.container__1340,
.container__720 {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container__1340 {
  max-width: 1340px;
}

.container__1920 {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.container__720 {
  max-width: 720px;
}

.navigator {
  background-color: #BB2339;
  height: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark .navigator {
  background-color: black;
  -webkit-box-shadow: 0 0 20px 1px white;
          box-shadow: 0 0 20px 1px white;
}

.dark #navbar.navbar-shrink {
  -webkit-box-shadow: 0 0 20px 1px white;
          box-shadow: 0 0 20px 1px white;
}

#navbar.navbar-shrink {
  height: 70px;
  -webkit-box-shadow: 5px 10px 35px 1px #BB2339;
          box-shadow: 5px 10px 35px 1px #BB2339;
}

#nav__login {
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 100px;
}

#nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav__login:hover {
  background-color: white;
  color: #BB2339;
}

.nav-link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#mode-btn {
  position: fixed;
  top: 100px;
  right: 0;
  width: 60px;
  height: 60px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: black;
}
#mode-btn i {
  font-size: 30px;
  color: white;
}

.dark #mode-btn {
  background-color: white;
}
.dark #mode-btn i {
  color: black;
}

#footer {
  padding: 0 20px 148px;
  background-color: #BB2339;
}

.dark #footer {
  background-color: #111;
}

.dark .subscribe {
  background-color: #333;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .footer__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 100px;
  }
}

.footer__start {
  margin-bottom: 50px;
}
.footer__start h3 {
  color: white;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: ubuntu-regular;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}
.footer__start p {
  text-align: center;
  color: white;
  font-family: ubuntu-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}
.footer__start h6 {
  text-align: center;
  color: white;
  font-family: ubuntu-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.footer__center {
  text-align: center;
}
.footer__center img {
  margin-bottom: 30px;
}
.footer__center p {
  max-width: 438px;
  color: white;
  text-align: center;
  font-family: ubuntu-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}
.footer__center .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.footer__end h3 {
  text-align: center;
  color: white;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: ubuntu-regular;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}
.footer__end h6 {
  color: white;
  text-align: center;
  font-family: ubuntu-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}
.footer__end p {
  color: white;
  text-align: center;
  font-family: ubuntu-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.footer {
  position: relative;
}

.subscribe {
  max-width: 1406px;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
  padding: 64px 0;
  border-radius: 20px;
  background-color: #BB2339;
  -webkit-box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
          box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
}
.subscribe h6 {
  text-align: center;
  color: white;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: ubuntu-regular;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.subscribe h3 {
  max-width: 902px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: ubuntu-regular;
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.subscribe p {
  color: white;
  text-align: center;
  font-family: ubuntu-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
  margin-bottom: 64px;
}
.subscribe .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 635px;
}
.subscribe .forms input {
  width: 100%;
  color: var(--AAAAAA, #AAA);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: ubuntu-regular;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
  border: 1px solid white;
  margin-bottom: 20px;
  border-radius: 100px;
  background-color: transparent;
  padding: 12px 0 12px 20px;
}
.subscribe .subscribe__btn {
  color: white;
  font-family: ubuntu-regular;
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 32px;
  border-radius: 100px;
  border: 1px solid white;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.subscribe .subscribe__btn:hover {
  background-color: white;
  color: #BB2339;
  opacity: 0.9;
}

@media (min-width: 900px) {
  .forms {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .subscribe__btn {
    position: absolute;
    right: -150px;
  }
}
.dark #backtop {
  color: white;
}

#backtop {
  position: fixed;
  bottom: -100px;
  right: -30px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 50;
  font-size: 50px;
  background-color: transparent;
  color: black;
}

#backtop.backtop-show {
  bottom: 30px;
  right: 20px;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(34, 34, 36, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -10000;
}

@-webkit-keyframes ldio-qk9sibaufb {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

@keyframes ldio-qk9sibaufb {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-qk9sibaufb div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: ldio-qk9sibaufb 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: ldio-qk9sibaufb 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-qk9sibaufb div:nth-child(1) {
  border-color: #e90c59;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.ldio-qk9sibaufb div:nth-child(2) {
  border-color: #46dff0;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.loadingio-spinner-ripple-92mwbr9tn7p {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-qk9sibaufb {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-qk9sibaufb div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#contact {
  padding: 140px 20px 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark #contact,
.dark #map {
  background-color: black;
}

.dark #contact * {
  color: white;
}

.dark .left__list__card,
.dark .contact__right {
  background-color: #333;
}

.contact__header {
  text-align: center;
  margin-bottom: 50px;
}

.bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.bread a {
  color: #242424;
}
.bread li {
  font-variant-numeric: lining-nums tabular-nums;
  font-family: ubuntu-regular;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  text-transform: capitalize;
}
.bread__link a {
  color: #BB2339;
}

.left__list__card {
  max-width: 420px;
  padding: 25px 0;
  padding-left: 20px;
  border-radius: 14px;
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid rgba(36, 36, 36, 0.1);
}
.left__list__card .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.left__list__card .social__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgba(36, 36, 36, 0.05);
  border-radius: 50px;
}
.left__list__card .social__img img {
  width: 50%;
}

.contact__right {
  max-width: 790px;
  border: 1px solid rgba(51, 34, 68, 0.1);
  padding: 40px 40px 50px 40px;
  border-radius: 14px;
}
.contact__right h1 {
  color: #242424;
  font-family: ubuntu-regular;
  font-size: 38px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 16px;
}
.contact__right p {
  color: #242424;
  font-family: ubuntu-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
.contact__right .registration {
  margin-bottom: 25px;
}
.contact__right .registration input {
  width: 100%;
  padding: 20px 0;
  padding-left: 20px;
  border-radius: 12px;
  border: 1px solid rgba(51, 34, 68, 0.1);
  margin-bottom: 15px;
}
.contact__right .name,
.contact__right .email,
.contact__right .number,
.contact__right .subject {
  max-width: 345px;
}
.contact__right .message {
  max-width: 710px;
}
.contact__right .message #text {
  width: 100%;
  border: 1px solid rgba(51, 34, 68, 0.1);
  border-radius: 14px;
  padding: 20px;
  font-size: 18px;
}

.contact__btn {
  color: white;
  font-family: ubuntu-regular;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 45px;
  background-color: #BB2339;
  border-radius: 39px;
}

.map-section {
  padding-bottom: 240px;
}
.map-section h3 {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: ubuntu-regular;
  font-size: 38px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.14px;
  text-transform: capitalize;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.map iframe {
  width: 100%;
}

@media (min-width: 700px) {
  .registration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .left__right {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
  }
}