@font-face {
    font-family: ubuntu-bold;
    src: url('../../assets/fonts/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: ubuntu-medium;
    src: url('../../assets/fonts/Ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: ubuntu-regular;
    src: url('../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
}